/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EEE;
	text-align: center;
}

img {
	max-width: 100%;
}

.wrap {
	margin: auto;
	max-width: 1140px;
	padding: 3em;
	width: 90%;
	overflow: hidden;
}

.product {
	display: inline-block;
	width: 22%;
	margin: 2em 1%;
	background-color: #FFF;
	padding: 1em;
}

.product img {
	margin: 2em 0;
}