/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EEE;
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
}

.wrap {
	margin: auto;
	max-width: 1200px;
	padding: 3em 0;
	overflow: hidden;
}

.product {
	border-radius: 3px;
	display: inline-block;
	width: 16%;
	margin: 2em 1%;
	background-color: #FFF;
	padding: 1.5em 2em;
	vertical-align: top;
}

.product .name {
	float: left;
	font-size: 0.875em;
	line-height: 1.8;
	text-transform: uppercase;
}

.product .quantity {
	color: #009900;
	float: right;
	font-size: 1.313em;
	font-weight: 700;
}
